<ol reversed class="postlist" style="counter-reset: start-from {{ postslist.length + 1 }}">
{% for post in postslist | reverse %}
  {% set currentPost = post.data.post %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">
 {{ currentPost.mainImageMeta | log }}
      <img src="{% sanityImageUrl currentPost.mainImage.asset._ref, '300' %}" alt="{{ currentPost.mainImage.alt }}" title="{{ currentPost.title }}" />
      <time class="postlist-date" datetime="{{ currentPost.publishedAt }}">
      </time>
    </a>
  </li>
{% endfor %}
</ol>
