<ol reversed class="postlist" style="counter-reset: start-from {{ postslist.length + 1 }}">
{% for post in postslist | reverse %}
  {% set currentPost = post.data.post %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">
      <img
        src="{% sanityImageUrl currentPost.mainImage.asset._id, '300' %}&h=300&fit=crop&crop=focalpoint&auto=format"
        alt="{{ currentPost.mainImage.alt }}"
        title="{{ currentPost.title }}"
      />
      <time class="postlist-date" datetime="{{ currentPost.date }}">
      </time>
    </a>
  </li>
{% endfor %}
</ol>
