* {
  box-sizing: border-box;
}

html {
  --headerColour: black;
  background-color: var(--headerColour);
  color: white;
  font-family: sans-serif;
}

a {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font: 125%/1.4 sans-serif;
}

header {
  font-family: "Fredoka One", sans-serif;
  text-transform: uppercase;
  background-color: #000;
  background-color: var(--header-background-colour);
  color: #fff;
  color: var(--header-colour);
  padding: .25em;
  margin-bottom: 0.125em;
  text-align: center;
}
  header a {
    color: inherit;
    text-decoration: none;
  }
  header ul,
  header li {
    display: inline;
  }
  header ul::before {
    content: " ~ ";
  }

  h1 {
    font-weight: normal;
    line-height: 1.2;
    max-width: 25em;
    font-size: 3em;
  }
  h1 + time {
    font-size: smaller;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  .postlist {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0.25em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
    .postlist li {
      list-style: none;
    }
    .postlist a {
      display: block;
      position: relative;
    }
    .postlist img {
      width: 100%;
    }
    .postlist a,
    .postlist img {
      display: block;
    }
    .postlist time {
      position: absolute;
      bottom: .5em;
      right: .5em;
      line-height: 1;
      background-color: rgba(0,0,0,0.5);
      display: block;
      padding: .25em .5em 0.125em;
      border-radius: 0.25em;
    }
