<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title or renderData.title or title or metadata.title }} - Where is Hidde?</title>
    <meta name="generator" content="Eleventy, Sanity">
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" type="application/rss+xml" title="RSS feed of all photo posts" href="https://where.hiddedevries.nl/feed.xml">
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}">{{ metadata.title }}</a>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <p style="text-align: center; margin: 2em; color: #ccc"><small>This site provides photographic evidence of where Hidde was. Powered by <a href="https://sanity.io">Sanity.io</a> and <a href="https://11ty.dev">Eleventy</a>.</small></p>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
