---
layout: layouts/base.njk
templateClass: tmpl-post
---
<img
  src="{% sanityImageUrl post.mainImage.asset._id, 1600 %}"
  alt="{{ post.mainImage.alt }}"
  title="{{ post.title }}"
  lazyload="true"
  style="
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    background-color: {{ post.mainImage.palette.darkVibrant.background }};
    width: 100%;
    place-content: center;
    aspect-ratio: {{ ( post.mainImage.dimensions.width / post.mainImage.dimensions.height ) * 100 }} / 100;
  "
/>
<div style="max-width: 40em; margin: 1em auto; text-align: left;">
  <h1>{{ post.title }}</h1>
  <time class="postlist-date" datetime="{{ post.publishedAt }}">
    {{ post.date|readableDate }}
  </time>
  {% if post.body %}
  <p><span class="text-transform: uppercase">{{ post.categories }}</span> - {{ post.body | markdownify | safe }}
  {% endif %}
  <p style="text-align: center;"><a href="{{ '/' | url }}">All photos</a></p>
</div>
{% set palette = post.mainImage.asset.metadata.palette %}
{% if palette %}
<style>
html {
  --header-background-colour: {{ palette.darkVibrant.background }};
  --header-colour: {{ palette.darkVibrant.title}};
}
</style>
{% endif %}
