---
layout: layouts/base.njk
templateClass: tmpl-post
---

<img src="{% sanityImageUrl post.mainImage.asset._ref %}" alt="{{ post.mainImage.alt }}" title="{{ post.title }}" width="100%" />
<div style="max-width: 40em; margin: 1em auto;">
  <h1>{{ post.title }}</h1>
  <time class="postlist-date" datetime="{{ post.publishedAt }}">
    {{ post.publishedAt|readableDate }}
  </time>
  {% if post.body %}
  <p><span class="text-transform: uppercase">{{ post.categories }}</span> - {{ post.body | markdownify | safe }}
  {% endif %}
  <p style="text-align: center;"><a href="{{ '/' | url }}">All photos</a></p>
</div>

  <script>
    {% include "colorthief.js" %}
    const colorThief = new ColorThief();
    const img = document.querySelector('img');

    // Make sure image is finished loading
    if (img.complete) {
      console.log(colorThief.getColor(img));
    } else {
      img.addEventListener('load', function() {
        console.log(colorThief.getColor(img));
      });
    }
    </script>
