---
layout: layouts/base.njk
templateClass: tmpl-post
---
<img src="{% sanityImageUrl post.mainImage.asset._ref %}" alt="{{ post.mainImage.alt }}" title="{{ post.title }}" style="max-height: 80vh; display: block; margin: 0 auto;" />
<div style="max-width: 40em; margin: 1em auto; text-align: left;">
  <h1>{{ post.title }}</h1>
  <time class="postlist-date" datetime="{{ post.publishedAt }}">
    {{ post.publishedAt|readableDate }}
  </time>
  {% if post.body %}
  <p><span class="text-transform: uppercase">{{ post.categories }}</span> - {{ post.body | markdownify | safe }}
  {% endif %}
  <p style="text-align: center;"><a href="{{ '/' | url }}">All photos</a></p>
</div>

{% if post.mainImageMeta.palette %}
<style>
html {
  --header-colour: {{ post.mainImageMeta.palette.dominant.background }};
}
</style>
{% endif %}
