---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Where is Hidde? A photo blog",
    "subtitle": "This is where Hidde posts photographic evidence of his whereabouts",
    "url": "https://where.hiddedevries.nl",
    "feedUrl": "https://where.hiddedevries.nl/feed.xml",
    "author": {
      "name": "Hidde de Vries",
      "email": "hidde@hiddedevries.nl"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.posts %}
  {% set currentPost = post.data.post %}
  {{ currentPost | log }}
  {% set absolutePostUrl %}{{ currentPost.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ currentPost.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ currentPost.date }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      <img src="{{ currentPost.mainImage.asset.url }}" alt="{{ currentPost.mainImage.alt }}" />
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
    </content>
  </entry>
  {%- endfor %}
</feed>
